In [4]:
import csv
import pandas as pd

In [8]:
df04 = pd.read_csv('JC-202304-citibike-tripdata.csv')
df03 = pd.read_csv('JC-202303-citibike-tripdata.csv')
df02 = pd.read_csv('JC-202302-citibike-tripdata.csv')
df01 = pd.read_csv('JC-202301-citibike-tripdata.csv')

In [10]:
df01.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [11]:
df02.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,557150C42CBD584B,classic_bike,2023-02-16 18:05:38,2023-02-16 18:13:47,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743190,-74.040126,40.736982,-74.027781,member
1,9F1B2C0BCD476C66,classic_bike,2023-02-15 19:20:33,2023-02-15 19:27:06,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743222,-74.040081,40.736982,-74.027781,member
2,4A4A29A7C1B54278,classic_bike,2023-02-18 14:58:16,2023-02-18 15:06:15,Mama Johnson Field - 4 St & Jackson St,HB404,12 St & Sinatra Dr N,HB201,40.743140,-74.040041,40.750604,-74.024020,casual
3,BBF4E1D39D41D78C,classic_bike,2023-02-24 15:16:12,2023-02-24 15:24:17,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743187,-74.040179,40.743140,-74.040041,member
4,3CECAA17C4ABBF30,classic_bike,2023-02-16 18:05:02,2023-02-16 18:05:04,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743172,-74.040054,40.743140,-74.040041,member

In [12]:
df03.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,38F943EA06A4E54F,electric_bike,2023-03-25 09:20:57,2023-03-25 09:32:10,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
1,C76EFC4C3B771E88,electric_bike,2023-03-15 07:55:41,2023-03-15 08:07:44,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
2,02C7BC83975952E6,electric_bike,2023-03-20 08:50:11,2023-03-20 09:00:37,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
3,DB0FB572E0AA9C36,electric_bike,2023-03-02 10:17:07,2023-03-02 10:27:22,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
4,A238B2BDD1072D52,electric_bike,2023-03-04 09:13:23,2023-03-04 09:25:30,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member

In [13]:
df04.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,59B1078FC3455D5B,electric_bike,2023-04-02 14:50:55,2023-04-02 15:01:24,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,member
1,84365D599B6E002E,electric_bike,2023-04-15 21:08:54,2023-04-16 10:54:44,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,casual
2,A4F033EAA7810781,classic_bike,2023-04-17 10:35:11,2023-04-17 10:37:53,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
3,E9051DFD91E516BF,classic_bike,2023-04-07 12:19:31,2023-04-07 12:21:52,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
4,0F6D86AEC1B29205,classic_bike,2023-04-07 12:28:21,2023-04-07 12:30:23,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member

In [21]:
combined_df = pd.concat([df01, df02, df03, df04])

combined_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [23]:
#save new csv

combined_df.to_csv(r'combined_df.csv')